body{
    background-color: #E3F2FD !important;
}
.dashboard-menu {
    padding: 10px;
    border-radius: 10px;
    background-color: white !important;
}
.dashboard-menu ul {
    list-style: none;
}
.dashboard-menu ul li img {
    padding-right: 10px;
}
.dashboard-menu ul li.bar {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.dashboard-menu ul li {
    font-family: sans-serif !important;
}
.dashboard-menu ul {
    padding: 0;
}
.dashboard-menu ul li:hover {
    color: white !important;
    border-radius: 12px;
    padding: 20px;
    background: #4070F4;
    width: 85%;
}
.dashboard-menu ul li {
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 12px;
    padding: 20px;
    width: 85%;
}
.dashboard-menu ul li.active{
    color: white !important;
    border-radius: 12px;
    padding: 20px;
    background: #4070F4;
    width: 85%;
}
.column-left {
    width: 25%;
}
.column-right{
    margin-left: 20px;
    width: 25%;
}
.main-column {
    display: flex !important;
}
.simple-text {
    width: 50%;
}
.simple-text h1 {
    text-align: center;
    font-family: arial;
    font-size: 100px;
}
.simple-text h1 {
    color: #4070F4;
}
.simple-text h1 span {
    color: black !important;
}
li.bar:hover {
    background: none !important;
    color: black !important;
}